<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Магазин товаров для дома{% endblock %}</title>

    <!-- базовый стиль -->
    <link id="theme-style" rel="stylesheet" href="/static/css/style.css">
</head>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelectorAll(".slide");
    let current = 0;

    slides.forEach(slide => {
        slide.style.backgroundImage = `url(${slide.dataset.bg})`;
    });

    if (slides.length <= 1) return;

    setInterval(() => {
        slides[current].classList.remove("active");
        current = (current + 1) % slides.length;
        slides[current].classList.add("active");
    }, 4000);
});
</script>

<body>
<header>
    <div class="container">
        <div class="logo">HomeStore</div>
    <nav>
        <a href="/">Главная</a>
        <a href="/catalog">Каталог</a>
        <a href="/delivery">Доставка и оплата</a>
        <a href="/sales">Акции</a>
        <a href="/about">О компании</a>
        <a href="/contacts">Контакты</a>
        <a href="/sitemap">Карта сайта</a>
        <a href="/login">Войти</a>
        </nav>
        <!-- КНОПКА для переключения -->
        <button id="vision-toggle" class="btn" style="margin-left: 12px;">👁️‍🗨️Версия для слабовидящих</button>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="container">
        <div class="footer-col">© 2025 Сеть магазинов HomeStore</div>
        <div class="footer-col">Все права защищены</div>
    </div>
</footer>

<script>
    const toggle = document.getElementById("vision-toggle");
    const theme = document.getElementById("theme-style");

    toggle.addEventListener("click", () => {
        const current = theme.getAttribute("href");

        if (current === "/static/css/style.css") {
            theme.setAttribute("href", "/static/css/vision.css");
        } else {
            theme.setAttribute("href", "/static/css/style.css");
        }
    });
</script>

</body>
</html>