{% extends "base.html" %}
{% block title %}Доставка и оплата{% endblock %}

{% block content %}
<section class="container">
    <h1>Доставка и оплата</h1>

    <h2>Способы доставки</h2>
    <ul class = "news-list">
        <li>Курьерская доставка в пределах города - 1-3 дня</li>
        <li>Самовывоз из магазина - бесплатно</li>
        <li>Траспортная компания, почта России - 3-10 дней</li>
    </ul>

    <h2>Способы оплаты</h2>
    <ul class="news-list">
        <li>Оплата при получении наличные</li>
        <li>Оплата при получении банковской картой</li>
        <li>Онлайн оплата на сайте</li>
    </ul>
    <a href="/" class="btn secondary">Назад</a>
</section>
{% endblock %}