{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<section class="main">
    <h1>Сеть магазинов товаров для дома</h1>
    <p>Товары для уюта, декора вашего дома</p>
</section>


<section class="banner">
    <div class="banner-item">Горячие акции недели</div>
    <div class="banner-item">Новые поступления</div>
</section>

<section class="news">
    <h2>Новости</h2>
    <ul>
        <li>Открытие нового магазина</li>
        <li>Расширение ассортимента товаров</li>
        <li>Сезонные скидки</li>
    </ul>
</section>

<p>Это главная страница сайта сети магазинов товаров для дома.</p>
{% endblock %}
