{% extends "base.html" %}
{% block title %}Категория товаров{% endblock %}

{% block content %}

<section class="container">
    <h1>{{ category.name }}</h1>
        <div class="grid">
        {% for p in products %}
        <div class="card">
            <img src="{{ p.image }}" alt="{{ p.name }}">
            <div class="body">
                <h4>{{ p.name }}</h4>
                <p>{{ p.price }} ₽</p>
                <div class="actions">
                    <a class="btn" href="/product/{{ p.id }}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}