{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<section class="container">
    <h1>{{ product.name }}</h1>
    <img src="{{ url_for('static', filename='img/products/' + product.image) }}" alt="{{ product.name }}" style="max-width:350px;border-radius:12px;">
    <p>{{ product.description }}</p>
    <p><strong>Цена: {{ product.price }} ₽</strong></p>
    <a href="/cart/add/{{ product.id }}" class="btn">В корзину</a>
    <a href="/catalog/{{ product.category_id }}" class="btn secondary">← Назад к товарам</a>
</section>
{% endblock %}